.table > thead:first-child > tr:first-child > th:first-child {
    position: relative;
    display: inline-block;
    background-color: white;
    height: 100%;
}

.table > tbody > tr > td:first-child {
    position: absolute;
    display: run-in;
    background-color: white;
    height: auto;
}

.table > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 40px;
}

.table > tbody > tr > td:nth-child(2) {
    padding-left: 50px !important;
}
